<%= content_for :header do %>
<div class="container">
    <h1 class="h1 display-3"><%= content_for?(:title) ? yield(:title) : "Log In" %></h1>
</div>
<% end %>

<%= content_for :content do %>
  <div class="container">
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="mastertrader123"
                required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
                <input type="password" id="password" name="password" class="form-control password"
                aria-describedby="passwordHelpBlock" required>
                <button type="button" class="btn btn-outline-secondary input-group-text togglePassword">
                    <i class="fa-solid fa-eye-slash"></i>
                </button>
            </div>
            <br>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-lg" value="Log In">
        </div>
    </form>
</div>

    <%= javascript_include_tag "viewPassword.js" %>

<% end %>
