<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <p class="lead">Your personal trading bot, helping you trade your money automatically.</p>
            <hr class="my-4">
            <p>Quidbot is a trading bot that automatically trades on the stock market. With it's advanced algorithms, real-time market data analysis, and intuitive
                interface, you can stay ahead of the curve and achieve your trading goals.</p>

            <%= link_to "Get Started", auth_register_path, class: "btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-6">
            <!-- <img src="{{ url_for('static', filename='landing-image.png') }}" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>