<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= url_for("index") %>">
        <h1 class="h1">QUIDBOT</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" ng-hide="signedIn()"><%= link_to "Register", auth_register_path, class: "nav-link" %></li>
            <li class="nav-item" ng-hide="signedIn()"><%= link_to "Login", auth_login_path, class: "nav-link" %></li>
            <li class="nav-item" ng-show="signedIn()"><%= link_to "Log Out", auth_login_path, class: "nav-link" %></li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-success"><i class="fa-solid fa-gear"></i></button>
        </div>
      </div>
    </div>
  </nav>